<form [formGroup]="checkoutForm" >
    <div>
        <label for="book-name">
            Name
        </label>
        <input id="book-name" type="text" formControlName="bookName" placeholder="{{book.name}}">
    </div>
    <div>
        <label for="book-description">
            Description
        </label>
        <textarea id="book-description" rows="4" cols="50" formControlName="bookDescription" placeholder="{{book.description}}"></textarea>
    </div>
    <div>
        <label for="book-price">
            Price
        </label>
        <input id="book-price" type="number" formControlName="bookPrice" placeholder="{{book.price}}">
    </div>
    <div>
        <label for="category">
            Category
        </label>
        <select id="category" formControlName="bookCategory">
            <option *ngFor="let category of categories | enumToArray" value="{{category}}" [selected]="book.category === category">{{category}}</option>
        </select>
    </div>
    <div>
        <label for="book-date">
            Date
        </label>
        <input id="book-description" type="number" formControlName="bookDate" value="{{book.createDate}}">
    </div>
    <div>
        <label for="available">
            Available
        </label>
        <input id="available" type="checkbox" formControlName="available" [checked]="book.isAvailable">
    </div>
    <input id="book-id" type="hidden" formControlName="bookID" placeholder="{{book.id}}">

    <button class="button"  (click)="onSaveButtonClick($event)">Save</button>
</form>
