@import 'src/styles/constants';

.heading {
	text-align: center;
  margin-bottom: 15px;
}

.empty-cart {
	font-size: 20px;
	text-align: center;
}

.link {
	text-decoration: none;
}

.button {
	margin: 15px 10px 15px 0;
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px $grey;
  border: none;
  width: fit-content;
  color: $black;
  text-align: center;
  background-color: $dark-gray;
}

.cart-list {
  padding: 20px;
}

.select-field {
  padding: 4px;
  margin-right: 5px;
}