<div class="cart-item">
    <h2>{{ cartItem.book.name }}</h2>
    <div class="price">
        <span>Price: {{ cartItem.book.price | currency }}
        </span>
    </div>
    <div >
        <label for="quantity">Quantity: </label>
        <button (click)="onIncreaseQuantity()">+</button>
        <input type= "number" id="quantity" [(ngModel)]="cartItem.count" (ngModelChange)="onCountChange()" placeholder="1">
        <button (click)="onDecreaseQuantity()">-</button>
        <button (click)="onDeleteButton()">Delete</button>
    </div>
    <div class="total">
        <span>Total: {{ cartItem.total | currency }}
        </span>
    </div>
</div>