nav {
    display: flex;

    a {
        background-color: #3f525c;
        border-radius: 4px;
        padding: 1rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        text-align: center;
        box-sizing: border-box;
        margin: 10px;
    }
}