@import 'src/styles/constants';

:host {
  display: block;
  padding: 10px 20px;
}

.heading {
  text-align: center;
}

.links-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  .link {
    background-color: $dark-gray;
    border-radius: 4px;
    padding: .5rem;
    font-size: .8rem;
    text-decoration: none;
    color: $black;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 4px 4px 5px $grey;
  }
}
