.book {
    flex: 1;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 7px gray;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    margin: 20px 5px;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px gray;
    border: none;
}

.not-active-button {
    color: gray;
}