.books-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .book {
        flex: 1;
    }
}

.add-book-link {
    text-decoration: none;
}

.button {
    margin: 20px 5px;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px gray;
    border: none;
    width: fit-content;
    color: black;
    width: 20%;
}

.buttons-container {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
}