<div appFont [color]="'red'" class="book" >
    <h2>{{ book.name }}</h2>
    <div class="create-date"> {{ book.createDate }}</div>
    <p>{{ book.description }}</p>
    <div class="price">
        <span>Price: {{ book.price | currency }}
        </span>
    </div>
    <div class="category">
        <span>Category: {{ book.category |  uppercase }}
        </span>
    </div>
    <button class="button" [ngStyle]="{'color': book.isAvailable ? 'black' : 'gray'}" (click)="onBuyButton()">Buy</button>
</div>